.contentClass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 2rem;
    font-size: 60px;
    text-align: center;
}

.petsImage {
    width: 100vw;
    height: auto;
}

.loginModal {
    background: white;
    width: 75%;
    margin: auto;
    margin-top: 4rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.signupModal {
    background: white;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    overflow: scroll;
}